*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


/*--------------------------------------*/

.wrapper{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	display: flex;
	flex-direction: column;

	/*flex:1 1 auto;*/
	height: 100%;
	overflow: auto;
	min-height: 100%;
}
.content{
	flex: 1 1 50000px;

	
}
/*------------------------*/
.hi{
	height: 325px;
	background-color: #445162;

}
.container{
	margin: 0 auto;
	width: 1180px;
	padding: 55px 0 ;
	height: 325px;
	
}
.hi__row{
	color: #ffffff;
	
	display: flex;
	justify-content: space-between;
	
	

}
.hi__list{

	line-height: 1;
    font-size: 20px;
    
}
.hi__list li{
	line-height: 2;
	background: url('img/icons/icon.png') 0 no-repeat;
	padding-left: 35px;
}



.hi__title{
	

	font-size: 60px;
}

.hi__image img{
width: 469px;
height: 214px;
}

/*------------------------*/

.about__flex{
	height: 300px;
}

.container__about{
	height: 300px;
	margin: 0 auto;
	width: 1180px;
	padding: 50px 0;

}
.about__row{
	display: flex;
	justify-content: space-between;
	
}
.about__image{
width: 430px;
height: 186px;
}

.about__body {
	margin-left: 35px;
}

.about__title{
	color: #445161;
    font-size: 30px;
	 line-height: 1;
	 margin-bottom: 35px;

}
.about__text_1{
	font-size: 16px;
    color: #333;
    line-height: 24px;
	 margin-bottom: 15px;
}

.about__text_2{
	font-size: 16px;
	color: #333;
	line-height: 24px;
	margin-bottom: 15px;
}

/*-------------------------*/




.column{
	height: 500px;
	background-color: #e2e1e1;
	color: #445161;
}
.container__column{
	height: 500px;
	margin: 0 auto;
	width: 1180px;

}

.column__main__title{
	color: #445161;
    font-size: 30px;
	 text-align: center;
	 padding: 40px 0 20px 0;
}
.column__for__row{
	display: flex;
	flex-direction: column;
}
.column__row{
	display: flex;
	flex-direction: row ;
	margin-bottom: 40px;
}

.column__box{
	display: flex;
	
}
.column__box__content{
	padding: 0 20px;
}

.column__title{

    font-size: 24px;
    margin: 0px 0px 15px 0px;
}
.column__text{
color: #333333;
    font-size: 16px;
    line-height: 24px;
}

/*------------------------*/

.container__vertical{
	
	width: 1180px;
	margin: 0 auto;
	padding: 50px;

}

.vertical__title{
	text-align: center;
	color: #445161;
    font-size: 30px;
	margin-bottom: 15px;
}

.vertical__row{
	display: flex;
justify-content: space-between;

}

.vertical__box:first-child{
	align-self: center;
}
.vertical__box:last-child{
	align-self: flex-end;
}

.vertical__box{
	width: 300px;
	background-color: #445162;
	color: #fff;
	border: 1px solid #445162;
	margin: 0 22.5px;
	border-radius: 5px;

}

.vertical__box__item_1{
	font-size: 24px;
	text-align: center;
	padding: 15px;
}

.vertical__box__item_2{
	background-color: #fff;
    font-size: 22px;
	 color: #445162;
	 text-align: center;
	 padding: 15px 0 ;

}

.vertical__box__item_3{
font-size: 16px;
    line-height: 24px;

	 padding: 15px;
}


.vertical__box__link{
text-align: center;
background-color: #fff;
color: #445162;

line-height: 40px;
margin: 20px;
border: 1px solid #445162;
border-radius: 5px;
}
.vertical__box__link a{
display: block;
color: #445162;
font-size: 16px;
}

/*-----------------------*/
.footer{
	background-color: #f5f5f5;
	height: 65px;
	text-align: center;
	color: #445162;
    font-size: 12px;
    letter-spacing: 0.3px;
}
.footer__text{
	padding: 24px 0;
}

